/* Estilos de Encabezados (DESKTOP)*/
nav.desk ul {
    list-style: none;
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #B1B2B0;
    display: flex;
    align-items: center;
  }
nav.desk li {
    margin-right: 20px;
}
nav.desk button {
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}  
nav.desk button:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
nav .menu-btn {
    position: relative;
}  
nav .menu-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}

/*MOBILE*/
nav.mob ul {
    list-style: none;
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #B1B2B0;
    display: flex;
    align-items: center;
}
nav.mob li {
    margin-right: 0px;
}

/*desplegables*/
nav .menu-btn .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B1B2B0;
    padding: 20px 0px 20px 10px;
    display: none;
}
nav .menu-btn:hover .dropdown-menu {
    display: block;
    width: 200px;
}
nav .menu-btn .dropdown-menu li {
    margin-bottom: 10px;
}
nav .menu-btn .dropdown-menu li:last-child {
    margin-bottom: 0;
}
nav .menu-btn .dropdown-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*desplegables 2*/
/*buttons*/
nav .pc-btn {
    position: relative;
    font-size: medium;
    width: 100%;
}
nav .pc-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
nav .lpc-btn {
    position: relative;
    font-size: medium;
    width: 100%;
}
nav .lpc-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
/*submenus*/
/*pc*/
nav .pc-btn .dropdown-menu-pc {
    position: absolute;
    top: 100%;
    left: 190px;
    top:-10px;
    background-color: #B1B2B0;
    padding: 20px;
    display: none;
} 
nav .pc-btn:hover .dropdown-menu-pc {
    display: block;
    width: 200px;
} 

nav .pc-btn .dropdown-menu-pc li:hover{
    background-color: rgb(203, 203, 203);
}

nav .pc-btn .dropdown-menu-pc li {
    margin-bottom: 10px;
    background-color: #B1B2B0;
} 
nav .pc-btn .dropdown-menu-pc a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/*lpc*/
nav .lpc-btn .dropdown-menu-lpc {
    position: absolute;
    top: 100%;
    left: 190px;
    top:-10px;
    background-color: #B1B2B0;
    padding: 20px;
    display: none;
} 
nav .lpc-btn:hover .dropdown-menu-lpc {
    display: block;
    width: 200px;
} 
nav .lpc-btn .dropdown-menu-pc li:hover{
    background-color: rgb(203, 203, 203);
}
nav .lpc-btn .dropdown-menu-lpc li {
    margin-bottom: 10px;
}
nav .lpc-btn .dropdown-menu-lpc a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*mobile dropdown*/
/*pc*/
.dropdown-menu-mob-pc {
    /*min-width:100%;*/
    position: absolute;
    top:30px;
    right: 0px;
    left: 0px;
    background-color: #B1B2B0;
    padding: 20px;
} 
.dropdown-menu-mob-pc li:hover{
    background-color: rgb(203, 203, 203);
}
.dropdown-menu-mob-pc li {
    margin-bottom: 10px;
    background-color: #B1B2B0;
} 
.dropdown-menu-mob-pc a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



/*ENCABEZADO*/
@media only screen and (min-width: 710px) {
    nav.desk{
        display: block;
    }
    nav.mob{
        display: none;
    }
}
@media only screen and (max-width: 710px) {
    nav.desk ul{
        display: none;
    }
    nav.mob{
        display: block;
    }
}