@charset "UTF-8";
/**/
.image-container {
    display: flex;
    justify-content: space-between;
    text-align: justify;
	min-width:200px;
    max-width:800px;
	margin:auto;
    margin-bottom: 20px;
}
  
.imgdoble {
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
}

.Esdeklogo {
    height: 50px;
}

.MenuIcon{
    width: 36px;
    height: 36px;
    position:fixed;
    right: 20px;
    top: 10px;
}

/*PDF*/
.pdf{
    align-content: center;
    margin: auto;
    width:70%; 
    height:500px;
    display: block;
}

/*PARA LOS FONDOS*/
.fondo{
    background-color:whitesmoke;
    background-image: url(img/textura-cemento.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.fondo2{
    background-color:whitesmoke;
    background-image: url(img/FONDO_DE_PANTALLA_DE_ROBOT_MOVIL_EN_ALTA_RESOLUCION_DE_1024X682.png);
    background-position: right 0px top 30%;
    background-attachment: fixed;
    background-size: cover;
}
/*ESTOS SON ESTILOS PARA LA POSICIÓN DE LAS IMAGENES*/
.map { 
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.map2 { 
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.logoF{
    margin-left: 4vw;
    float: right;
}
.footerIcons{
    margin-left: 5px;
    float: left;
    vertical-align: middle;
}
/*ESTILOS DE LOS TITULOS*/
h1{
	font-family: url(fonts/AncizarSans-Extrabold_02042016.otf);
	color:#000000;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin:auto;
	margin-bottom:10px;
} 
h2{
	font-family: url(fonts/AncizarSans-Extrablack_02042016.otf);
	color:#000000;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	max-width: 640px;
	margin:auto;
    margin-top: 100px;
	margin-bottom:20px;
} 
h3{
	font-family: url(fonts/AncizarSans-Extrablack_02042016.otf);
	color:#000000;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	min-width:200px;
    max-width:800px;
	margin:auto;
    margin-top: 10px;
	margin-bottom:10px;
} 
/*Footer*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    /*left: 0;*/
    /*bottom: 0;
    width: 150%;
    margin-right: -8px;
    margin-left: -10px;
    margin-bottom: -10px;*/
    margin-top: auto;
    background-color: #912121;
    /*position:absolute;*/
}

/*ESTILOS DE TEXTOS*/
.contenido2 {
	position: relative;
	left: 10px;
    margin: auto;
}
.texto {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:200px;
    max-width:400px;
    margin:20px;
    background-color: bisque;
    opacity: 0.8;
	float:left;
}
.texto2 {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:200px;
    max-width:800px;
    margin:auto;
    margin-bottom: 20px;
    opacity: 1;
    vertical-align: middle;
}
.texto3 {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 18px;
	font-style: normal;
	text-align: center;
	min-width:screen;
    max-width:screen;
	margin:auto;
}
.textoR {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:400px;
    max-width:720px;
	margin:auto;
    opacity: 0.8;
    vertical-align: middle;
}

/*ESTILOS PARA LOS ENLACES*/

/*  link */
a:any-link {
    color: black;
	text-decoration:none;
}
/* mouse sobre link */
a:hover {
    color: #565A5C;
    text-decoration:none;
}
/*link seleccionado */
a:active {
    color: blue;
    text-decoration:none;
}

/*ESTILOS DEL MENU*/
.menuIndex {
    width: 160px;
    align-items:center;
	margin:auto;
    margin-top: 40vh;
}

/*ESTILOS DE LOS BOTONES*/
.buttonIndex:any-link {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 20px;
	font-style: normal;
    color: black;
	font-weight: bold;
	width: 160px;
    height: 60px;
    margin: auto;
    background-color: #B1B2B0;
    text-align: center;
    align-items: center;
    display:flex;
    justify-content: center;
    border-radius: 25px;
}
.buttonIndex:hover {
	color:white;	
    background-color: #565A5C;
	cursor:pointer;
}

.button2:any-link {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: medium;
	font-style: normal;
    font-weight: bold;
    color: white;
	text-align: center;
	width: 160px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    background-image: url(img/button2.png);
	padding:0px 0px 0px 0px;
	float: left;
}
.button2:hover {
	color:white;	
	background-image: url(img/button2h.png);
	cursor:pointer;
}

/*DISEÑO ADAPTATIVO*/
@media only screen and (max-width: 840px) {
    .texto2 {
        min-width: 160px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .fondo2{
        background-position: top 30% right 35%;
    }
}
@media only screen and (min-width: 915px) {
    .fondo2{
        background-position: top 50% right 0%;
        background-attachment: fixed;
    }
}
/*IMAGES*/
@media only screen and (max-width: 840px){
    .map2 {
        float: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
@media only screen and (max-width: 760px){
    .map {
        float: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
