@charset "UTF-8";
/* Estilos de Encabezados (DESKTOP)*/
nav.desk ul {
    list-style: none;
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #B1B2B0;
    display: flex;
    align-items: center;
  }
nav.desk li {
    margin-right: 20px;
}
nav.desk button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}  
nav.desk button:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
nav .menu-btn {
    position: relative;
}  
nav .menu-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}

/*MOBILE*/
.mob ul {
    list-style: none;
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #B1B2B0;
    display: flex;
    align-items: center;
}
.mob li {
    margin-right: 20px;
}
.mob button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}  
.mob button:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}

/*desplegables*/
nav .menu-btn .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B1B2B0;
    padding: 20px 0px 20px 10px;
    display: none;
}
nav .menu-btn:hover .dropdown-menu {
    display: block;
    width: 220px;
}
nav .menu-btn .dropdown-menu li {
    margin-bottom: 10px;
}
nav .menu-btn .dropdown-menu li:last-child {
    margin-bottom: 0;
}
nav .menu-btn .dropdown-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*desplegables 2*/
/*buttons*/
nav .pc-btn {
    position: relative;
    font-size: medium;
    width: 100%;
}
nav .pc-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
nav .lpc-btn {
    position: relative;
    font-size: medium;
    width: 100%;
}
nav .lpc-btn:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
/*submenus*/
/*pc*/
nav .pc-btn .dropdown-menu-pc {
    position: absolute;
    top: 100%;
    left: 220px;
    top:-10px;
    background-color: #B1B2B0;
    padding: 20px;
    display: none;
} 
nav .pc-btn:hover .dropdown-menu-pc {
    display: block;
    width: 200px;
} 

nav .pc-btn .dropdown-menu-pc li:hover{
    background-color: rgb(203, 203, 203);
}

nav .pc-btn .dropdown-menu-pc li {
    margin-bottom: 10px;
    background-color: #B1B2B0;
} 
nav .pc-btn .dropdown-menu-pc a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/*lpc*/
nav .lpc-btn .dropdown-menu-lpc {
    position: absolute;
    top: 100%;
    left: 220px;
    top:-10px;
    background-color: #B1B2B0;
    padding: 20px;
    display: none;
} 
nav .lpc-btn:hover .dropdown-menu-lpc {
    display: block;
    width: 200px;
} 
nav .lpc-btn .dropdown-menu-pc li:hover{
    background-color: rgb(203, 203, 203);
}
nav .lpc-btn .dropdown-menu-lpc li {
    margin-bottom: 10px;
}
nav .lpc-btn .dropdown-menu-lpc a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/**/
.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .imgdoble {
    width: 50%;
  }


body {
    margin: 0;
    padding: 0;
}

.Esdeklogo {
    height: 30px;
}

.MenuIcon{
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px;
}

/*PARA LOS FONDOS*/
.fondo{
    background-color: rgb(255, 255, 255);
    background-image: url(img/Light-Wood-Background-Texture-1536x1024.jpg);
    background-attachment: fixed;
    background-size: cover;
}
/*ESTOS SON ESTILOS PARA LA POSICIÓN DE LAS IMAGENES*/
.map { 
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logoF{
    margin-left: 4vw;
    float: right;
}
.footerIcons{
    margin-right: 5px;
    float: left;
    vertical-align: middle;
}
/*ESTILOS DE LOS TITULOS*/
h1{
	font-family: url(fonts/AncizarSans-Extrabold_02042016.otf);
	color:#000000;
	font-size: 52px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin:auto;
	margin-bottom:10px;
} 
h2{
	font-family: url(fonts/AncizarSans-Extrablack_02042016.otf);
	color:#000000;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	max-width: 640px;
	margin:auto;
    margin-top: 100px;
	margin-bottom:20px;
} 
h3{
	font-family: url(fonts/AncizarSans-Extrablack_02042016.otf);
	color:#000000;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	min-width:200px;
    max-width:800px;
	margin:auto;
    margin-top: 10px;
	margin-bottom:10px;
} 
/*Footer*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    /*left: 0;*/
    /*bottom: 0;
    width: 150%;*/
    margin-right: -8px;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: auto;
    background-color: #565A5C;
    /*position:absolute;*/
}

/*ESTILOS DE TEXTOS*/
.contenido2 {
	position: relative;
	left: 10px;
    margin: auto;
}
.texto {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:200px;
    max-width:400px;
    margin:20px;
    background-color: bisque;
    opacity: 0.8;
	float:left;
}
.texto2 {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:200px;
    max-width:800px;
    margin-bottom: 200px;
	margin:auto;
    opacity: 1;
    vertical-align: middle;
}
.texto3 {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 18px;
	font-style: normal;
	text-align: center;
	min-width:screen;
    max-width:screen;
	margin:auto;
    opacity: 0.8;
}
.textoR {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 22px;
	font-style: normal;
	text-align: justify;
	min-width:400px;
    max-width:720px;
	margin:auto;
    opacity: 0.8;
    vertical-align: middle;
}

/*ESTILOS PARA LOS ENLACES*/

/*  link */
a:any-link {
    color: black;
	text-decoration:none;
}
/* mouse sobre link */
a:hover {
    color: #565A5C;
    text-decoration:none;
}
/*link seleccionado */
a:active {
    color: blue;
    text-decoration:none;
}

/*ESTILOS DEL MENU*/
.menunav {
	left:10px;
    width: 825px;
    align:center;
	margin:auto;
}

.menuIndex {
    width: 470px;
    align:center;
	margin:auto;
}

/*ESTILOS DE LOS BOTONES*/
.buttonIndex:any-link {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: 20px;
	font-style: normal;
    color: black;
	font-weight: normal;
	text-align: center;
	width: 160px;
    height: 92px;
    margin-left: 50px;
    margin-top: auto;
	background-image: url(img/button1.png);
	padding:0px 0px 0px 0px;
	float: left;
    display: flex;
    align-items: center;
}
.buttonIndex:hover {
	color:white;	
	background-image: url(img/button1h.png);
	cursor:pointer;
}

.button2:any-link {
	font-family: url(fonts/AncizarSans-Black_02042016.otf);
	font-size: medium;
	font-style: normal;
    font-weight: bold;
    color: black;
	text-align: center;
	width: 160px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    background-image: url(img/button2.png);
	padding:0px 0px 0px 0px;
	float: left;
}
.button2:hover {
	color:white;	
	background-image: url(img/button2h.png);
	cursor:pointer;
}

/*DISEÑO ADAPTATIVO MENUS*/
@media only screen and (max-width: 825px) {
    .menunav {
        min-width:660px;
        max-width:660px;
    }
}
@media only screen and (max-width: 660px) {
    .menunav {
        min-width:495px;
        max-width:495px;
    }
}
@media only screen and (max-width: 495px) {
    .menunav {
        min-width:340px;
        max-width:340px;
    }
}
@media only screen and (max-width: 470px) {
    .menuIndex {
        min-width:270px;
        max-width:270px;
    }
}/*
@media only screen and (max-width: 800px) {
    .fondo{
        background-image: url(img/Light-Wood-Background-Texture-1536x1024.jpg);
        width: 100%;
        height: auto;
    }
}*/
/*IMAGES*/
@media only screen and (max-width: 1200px){
    .map {
        float: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.mapaPhaser{	
		 box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.4);
	     margin: -10px;
		 } 
/*VSM*/
@media only screen and (min-width: 720px) {
    .mapaPhaser{	
        margin: auto;
        width: 720px;
    } 
}
@media only screen and (max-width: 720px) {
	.mapaPhaser{	
	     margin: auto;
	     width: 620px;
    } 
}
@media only screen and (max-width: 620px) {
	.mapaPhaser{	
	     margin: auto;
	     width: 480px;
    } 
}
@media only screen and (max-width: 480px) {
	.mapaPhaser{	
	     margin: auto;
	     width: 380px;
    } 
}
/*ENCABEZADO*/
@media only screen and (min-width: 750px) {
    nav.desk{
        display: block;
    }
    nav.mob{
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    nav.desk{
        display: block;
    }
    nav.mob{
        display: none;
    }
}
